<main>
  <div class="contact-container container">
    <p class="thanks">Thank you for taking the time to explore my portfolio. If you would like to reach out, please use the form below. Also, feel free to connect with me on LinkedIn and/or Github using the links below.</p>
    <div class="links">
      <a href="https://www.linkedin.com/in/lanefaison/">
        <img class="tech-logos" src="./images/logos-tech/LI.png">
      </a>
      <a href="https://github.com/lane-faison">
        <img class="tech-logos" src="./images/logos-tech/GitHub-Mark.png">
      </a>
    </div>
    <form class="email-form" method="POST" action="http://formspree.io/lane.faison@icloud.com">
      <input class="form-item" type="text" name="name" placeholder="Your name" required>
      <input class="form-item" type="email" name="email" placeholder="Your email" required>
      <textarea class="form-item" name="message" placeholder="Your message"required></textarea>
      <button class="form-item btn btn-success" type="submit">Send</button>
      <button class="form-item btn btn-danger" type="button" ui-sref="home">Return home</button>
    </form>
  </div>
</main>
