<main>
  <div class="contact-container container">
    <p class="thanks">Thank you for visiting my web page. If you would like to contact me, please click the button below to reach out via email. Also provided are links to my LinkedIn and GitHub.</p>
    <input id="email-btn" class="btn btn-primary" type="button" value="Email"/>
    <div class="links">
      <a href="https://www.linkedin.com/in/lanefaison/">
        <img class="tech-logos" src="./images/logos-tech/LI.png">
      </a>
      <a href="https://github.com/lane-faison">
        <img class="tech-logos" src="./images/logos-tech/GitHub-Mark.png">
      </a>
    </div>
  </div>
</main>
