<main>
  <div class="cover">
    <img src="./images/other/presentation.png">
  </div>
  <section class="projects-title">My Projects</section>
  <div class='project-div'>
    <div ng-repeat="project in $ctrl.projects" class="col-md-4">
      <div class="thumbnail project-thumbnail">
        <img class="project_img" src="{{ project.image_url }}">
        <div class="project-caption">
          <h3>{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
          <a href="{{ project.project_url}}"><button class="btn btn-visit btn-primary" role="button">Visit</button></a>
        </div>
      </div>
    </div>
  </div>
</main>
