.contact-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  min-width: 250px;
  margin-bottom: 30px;
  border: 10px solid #333;
  color: #333;
  transition: all 0.50s ease-in;
  padding: 50px 25px;
}

/*#email-btn {
  margin: 10px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}*/

.thanks {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
}

form textarea {
  min-height: 150px;
  width: 100%;
  max-width: 100%;
}

.btn-success, .btn-danger {
  font-size: 20px;
}

.form-item {
  margin-top: 25px;
}
