* {
  font-family: 'Gill Sans', serif;
  font-size: 20px;
}

body {
  padding-top: 50px;
  background: rgba(0,0,0,1) url('../images/other/owl-blurred.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:
}

/************** NAVBAR **************/
a.navbar-brand {
  font-size: 30px;
  min-width: 510px;
}

#name {
  color: #EA4533;
}

.navbar-fixed-top {
  font-size: 18px;
}

.name-subtitle {
  color: #fff;
  font-size: 25px;
}

#active {
  color: #EA4533;
}

/************* SCROLLERS **************/
.chevrons {
  color: rgba(234, 70, 52, 0.5);
  font-size: 50px;
  text-align: center;
  transition: all 0.5s ease-in;
}

.chevrons:hover {
  color: rgba(234, 70, 52, 0.9);
}
