* {
  font-family: 'Gill Sans', serif;
  font-size: 20px;
}

body {
  padding-top: 50px;
}

/************** NAVBAR **************/
a.navbar-brand {
  font-size: 30px;
  min-width: 510px;
}

#name {
  color: #EA4533;
}

.navbar-fixed-top {
  font-size: 18px;
}

.name-subtitle {
  color: #fff;
  font-size: 25px;
}

#active {
  color: #EA4533;
}

/************** FOOTER **************/

#footer {
  min-height: 50px;
  color: #EA4533;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
