main {
  margin-bottom: 1500px;
}

.project-div {
  margin: auto 5%;
}
.projects-title {
  margin: 20px auto;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.1em;
  color: #EA4533;
  font-weight: bolder;
}

.col-md-4 .project-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  min-width: 250px;
  background: #fff;
  border: 10px solid #333;
  margin-bottom: 30px;
}

.col-md-4 .project-thumbnail:hover {
  border: 10px solid #EA4533;

}

.project_img {
  width: 200px;
  padding-top: 20px;
}


.project-caption {
  color: #000;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.project-caption h3 {
  font-size: 30px;
}

.btn-visit {
  width: 75px;
  font-size: 20px;
  position: relative;
  bottom: 15px;
  margin-top: 20px;
}
