.resume-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-resume {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.header-name {
  opacity: 1;
  color: #EA4533;
  font-size: 50px;
  font-weight: bold;
}

.header-subtitle {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.resume-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: auto;
}

.resume {
  width: 80%;
  height: 1150px;
  border: 10px solid #333;
  margin: auto;
}
